
#lista {
    border: 3px solid blue;
    border-radius: 10px;

}
tr:nth-child(even) {
    background-color: lightgrey;
}

tr, td, th {
    padding: 15px;
}

tr:hover {
    background-color: skyblue;
    color: blue;
}

th {
    color: blue;
}

#titoloindex {
    position: relative;
    text-align: center;
    background-color: skyblue;
    padding: 10px 10px;
    border-radius: 20px;
    color: blue;
    display: inline-block
}

h3{
    background-color: skyblue;
    border: none;
    color: blue;
    padding: 2px 5px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-family: Arial;
}

h1{
    color: skyblue;
}

h2{
    color: blue;
}

.navbar-nav > li{
    padding-top: 2%;
    padding-left:30px;
    padding-right:30px;
}

.navbar-nav > li{

    margin-left:30px;
    margin-right:30px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    margin-left: 5%;
}

/* Twitter */
.fa-instagram {
    background: #55ACEE;
    color: white;
}

#social{
    margin: auto;
}

#nav-link{
    margin-left: 300px;
}

#titoloindex {
    position: relative;
    text-align: center;
    background-color: skyblue;
    padding: 10px 10px;
    border-radius: 20px;
    color: blue;
    display: inline-block
}

.centerTitolo {
    margin: auto;
    width: 22%;
    padding: 10px;
}

.centerBottoniHomePage {
    margin: auto;
    width: 10%;
    text-align: center;
}

.centerTextHP{
    text-align: center;
    font-size: medium;
    ;
}
