<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}

            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
        {% endblock %}
        {% block javascripts %}
            <!-- jQuery library -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

            <!-- Latest compiled JavaScript -->
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>





    <div class="container-fluid">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="{{ path("HomePage") }}">Associazione Sportiva Podistica Generica</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Gare</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Prenotazioni</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Menu che scende se clicchi
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">contattaci</a>
                            <a class="dropdown-item" href="#">opzionale 1</a>
                            <a class="dropdown-item" href="#">opzionale 2</a>
                        </div>
                    </li>
                </ul>
                <div id = socialdiv>
                    <a id = social href="#" class="fa fa-facebook"></a>
                    <a id = social href="#" class="fa fa-instagram"></a>
                </div>
            </div>

        </nav>
    </div>

    {% block body %}

    {% endblock %}
    </body>
</html>
