
{% block title %}
    Crea personal data
{% endblock %}


{% block body %}
    <div id="divtitoloindex">
    <h3 id="titoloindex"> Inserisci i tuoi dati</h3>

       {{ form(form) }}
    </div>



{% endblock %}

