{% extends 'base.html.twig' %}

{% block title %}
    Crea personal data
{% endblock %}


{% block body %}
    <h1> Inserisci i tuoi dati</h1>
    <div>
       {{ form(form) }}
    </div>



{% endblock %}

