{% extends 'base.html.twig' %}

{% block title %}
    DashBoard
{% endblock %}

{% block body %}

   <div class="" style="background-image:url('{{ asset('images/sfondo.jpg') }}');
           background-repeat: no-repeat;">
<br>
<body>
<div class="main-container">
    <div class="heading">
        <h1 class="centerTitolo">         DashBoard</h1>
    </div>
    <div class="cards">
        <div class="card card-1">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title"> Gare passate</h2>
            <p class="card__apply">
                <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
        <div class="card card-2">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title"> Prossime Gare </h2>
            <p class="card__apply">
                <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
        <div class="card card-3">
            <div class="card__icon"><i class="fas fa-bolt"></i></div>
            <p class="card__exit"><i class="fas fa-times"></i></p>
            <h2 class="card__title"> Area Personale </h2>
            <p class="card__apply">
                <a class="card__link" href="#">Apply Now <i class="fas fa-arrow-right"></i></a>
            </p>
        </div>
    </div>
</div>
</body>
{% endblock %}