{% extends 'base.html.twig' %}

{% block title %}
Gestionale
{% endblock %}


{% block body %}
<h1> Benvenuto nel gestionale ciao</h1>
    <div>
    <br>
    <a href="{{ path("crea_persona_fisica")}}"> <h3 id="bottone"> Registrati!  </h3>   </a>
    </div>



{% endblock %}

