{% extends 'baseHomePage.html.twig' %}

{% block title %}
Gestionale
{% endblock %}

{% block body %}


<div class="centerTitolo">
<h3 id="titoloindex"> Benvenuto nel gestionale The Runner App</h3>
</div>
    <br>
<div class="centerBottoniHomePage">
    <a href="{{ path("crea_persona_fisica")}}"> <h3 id="titoloindex"> Registrati!  </h3>   </a>

    <a href="{{ path("app_login")}}"> <h3 id="titoloindex"> Effettua il login!  </h3>   </a>
</div>
    <br>
    <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <img src="src/Materiale/Logo.jpg" alt="logo">
<br>
{% endblock %}


