{% extends 'base.html.twig' %}

{% block title %}
Gestionale
{% endblock %}


{% block body %}
<div id="divtitoloindex">
<h3 id="titoloindex"> Benvenuto nel gestionale</h3>
</div>

    <br>
    <a href="{{ path("crea_persona_fisica")}}"> <h3 id="bottone"> Registrati!  </h3>   </a>



{% endblock %}

